body{
    background-color: black;
    color: white;
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(211, 155, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 187, 0);
}
section{
    background-color: rgb(255, 187, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}