body{
    background-color: black;
    color: white;
    margin: 0px;
    font-family: "Comic Neue", cursive;
    margin-bottom: 100px;
}
header{
    border-bottom: solid 2px rgb(211, 155, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 187, 0);
}
.chamada{
    background-color: rgb(255, 187, 0);
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.categoria-videos img{
    opacity: 0.5;   
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid yellow;
}

.categoria h2{
    color: rgb(255, 187, 0);
}